body {
        margin: 0px;
        padding: 0px;
        background-color: #ffffff;
}

@font-face { font-family: 'EurostileLTD'; src: url('shangoregular.otf');}

.container{
  height: 2000px;
  width: 100%;
  background-color: rgb(255,255,255);
  z-index: -100;
}

.introdiv{
  position: fixed;
}

#intro1{
  top:0px;
  background-color: rgb(220,220,220);
  height: 100%;
  width: 6%;
}

#intro2{
  top:0px;
  right: 0px;
  background-color: rgb(220,220,220);
  height: 100%;
  width: 6%;
}

#intro3{
  top:2%;
  left:7.5%;
  background-color: rgb(220,220,220);
  height: 15%;
  width: 85%;
}

#intro4{
  top:19%;
  left:7.5%;
  background-color: rgb(255,238,138);
  height: 6%;
  width: 21.25%;
}

#intro5{
  top:19%;
  left:28.75%;
  background-color: rgb(0,0,0);
  height: 6%;
  width: 21.25%;
}

#intro6{
  top:19%;
  right:7.5%;
  background-color: rgb(0,0,220);
  height: 6%;
  width: 21.25%;
}

#intro7{
  top:19%;
  right:28.75%;
  background-color: rgb(220,0,0);
  height: 6%;
  width: 21.25%;
}

#intro8{
  top:27%;
  left:10%;
  background-color: rgb(220,0,0);
  height: 73%;
  width: 25%;
}

#intro9{
  top:27%;
  left:36.3%;
  background-color: rgb(0,0,220);
  height: 45%;
  width: 53.7%;
}

#intro10{
  top:27%;
  left:10%;
  background-color: rgb(220,0,0);
  height: 73%;
  width: 25%;
}

#intro11{
  top:74.5%;
  left:36.3%;
  background-color: rgb(0,0,0);
  height: 23%;
  width: 12%;
}

#intro12{
  top:74.5%;
  left:50.1%;
  background-color: rgb(220,220,220);
  height: 23%;
  width: 12%;
}

#intro13{
  top:74.5%;
  left:63.9%;
  background-color: rgb(220,0,0);
  height: 23%;
  width: 12%;
}

#intro14{
  top:74.5%;
  right: 10%;
  background-color: rgb(255,238,138);
  height: 23%;
  width: 12%;
}

#intro15{
  top:0%;
  left: 6%;
  background-color: rgb(255,255,255);
  height: 50%;
  width: 44%;
  z-index: -1;
}

#intro16{
  top: 0%;
  right: 6%;
  background-color: rgb(255,255,255);
  height: 50%;
  width: 44%;
  z-index: -1;
}

#intro17{
  bottom:0%;
  left: 6%;
  background-color: rgb(255,255,255);
  height: 50%;
  width: 44%;
  z-index: -1;
}

#intro18{
  bottom: 0%;
  right: 6%;
  background-color: rgb(255,255,255);
  height: 50%;
  width: 44%;
  z-index: -1;
}